.card img {
    max-width: 318px;
    border-radius: 30px;
    opacity: 0.9;
}

.card {
    position: relative;
}

.card .caption {
    position: absolute;
    left: 0;
    padding: 0 0 30px 50px;
    width: 100%;
    bottom: -20px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    text-align: left;
    color: whitesmoke;
}

