.content {
    padding-top: 100px;

}

.content p {
    width: 473px;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;

}

.content h4 {
    padding-top: 100px;
    padding-bottom: 40px;
    font-size: 20px;
}

.white {
    color: aliceblue;
}

.residential {
    color: #696F79;

}

.img-flex {
    display: flex;
    justify-content: end;
    padding-top: 20px;
}